@use "sass:color";

button {
	*overflow: visible;
	*vertical-align: middle;
	vertical-align: baseline;
	appearance: none;
	-webkit-appearance: button;
	background-color: transparent;
	background-image: none;
}

[role="button"] {
	cursor: pointer;
}

button[disabled] {
	cursor: default;
}

button, .button {
	@include font-size($font-size-btn);
	@include line-height($line-height-btn);
	@include link();
	background-color: $background-color-btn;
	color: $color-btn;
	display: inline-block;
	font-family: $btn-font;
	font-weight: $font-weight-btn;
	letter-spacing: $letter-spacing-btn;
	padding: $padding-btn;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: $text-transform-btn;
	&:visited {}
	&:hover {
		background-color: $background-color-btn-hover;
		color: $color-btn-hover;
	}
	&:focus-visible {
		background-color: $background-color-btn-hover;
		color: $color-btn-hover;
	}
	&:active {}
    .fa-chevron-right { margin-left: $row-gutter; }
}

button, .button {
	&.button-primary {
		background-color: $background-color-btn-primary;
		color: $color-btn-primary;
		&:hover {
      background-color: color.adjust($background-color-btn-primary, $lightness: -5%);
		}
		&:focus-visible {
      background-color: color.adjust($background-color-btn-primary, $lightness: -5%);
		}
	}
	&.button-secondary {
		background-color: $background-color-btn-secondary;
		color: $color-btn-secondary;
		&:hover {
			background-color: color.adjust($background-color-btn-secondary, $lightness: -5%);
		}
		&:focus-visible {
      background-color: color.adjust($background-color-btn-secondary, $lightness: -5%);
		}
	}
	&.button-success {
    background-color: $background-color-btn-success;
		color: $color-btn-success;
		&:hover, &:focus-visible {
      background-color: color.adjust($background-color-btn-success, $lightness: -5%);
    }
	}
	&.button-danger {
    background-color: $background-color-btn-danger;
		color: $color-btn-danger;
    &:hover, &:focus-visible {
      background-color: color.adjust($background-color-btn-danger, $lightness: -5%);
    }
	}
	&.button-warning {
    background-color: $background-color-btn-warning;
		color: $color-btn-warning;
    &:hover, &:focus-visible {
      background-color: color.adjust($background-color-btn-warning, $lightness: -5%);
    }
	}
	&.button-info {
    background-color: $background-color-btn-info;
		color: $color-btn-info;
    &:hover, &:focus-visible {
      background-color: color.adjust($background-color-btn-info, $lightness: -5%);
    }
	}
  &.button-outline {
    background-color: transparent;
    border: 1px solid $background-color-btn;
    color: $background-color-btn;

    &:hover, &:focus-visible {
          background-color: color.adjust($background-color-btn, $lightness: -5%);
            background-color: darken($background-color-btn, 5%);
            color: $color-white;
        }
    }
    &.button-large {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        text-transform: none;
        @include font-size(24);

        .fa-chevron-right { @include font-size(16); }

    }
}
