blockquote {
	@include font-size($font-size-blockquote);
	@include line-height($line-height-blockquote);
	border-left: 0.2rem solid $color-blockquote-border;
	color: $color-blockquote;
	padding: 1rem;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	position: relative;
	quotes: "\201C""\201D""\2018""\2019";
	p {}
	cite {
		color: $color-cite;
		@include font-size($font-size-cite);
	}
}
blockquote::before, blockquote::after {
	display: none;
}