@use "sass:math";

/*
--------------------------------------------------------------------------
TRANSITIONS
--------------------------------------------------------------------------
*/

	/*Opacity*/
	@mixin fade(){
		transition: opacity 0.30s ease-in-out;
	}
	/*Color*/
	@mixin color(){
		transition: color 0.30s ease-in-out;
	}
	/*Background Color*/
	@mixin bg-color(){
		transition: background-color 0.30s ease-in-out;
	}
	/*Border*/
	@mixin border(){
		transition: border 0.30s ease-in-out, color 0.30s ease-in-out;
	}
	/*outline*/
	@mixin outline(){
		transition: outline 0.15s ease-in-out, color 0.15s ease-in-out;
	}
	/*Used for links. border, color, background color, fill, box shadows*/
	@mixin link(){
		transition: border 0.30s ease-in-out, color 0.30s ease-in-out, background-color 0.30s ease-in-out, fill 0.30s ease-in-out, box-shadow 0.30s ease-in-out;
	}
	/*Boxshadow*/
	@mixin boxshadow(){
		transition: box-shadow 0.30s ease-in-out;
	}
	/*Margins*/
	@mixin margin(){
		transition: margin .30s ease-in-out;
	}
	/*Height*/
	@mixin height(){
		transition: height .30s ease-in-out;
	}
	/*Width*/
	@mixin width(){
		transition: width .30s ease-in-out;
	}
	/*For all transitions*/
	@mixin all(){
		transition: all 0.30s ease-in-out;
		-moz-transition: all 0.30s ease-in-out;
		-webkit-transition: all 0.30s ease-in-out;
		-ms-transition: all 0.30s ease-in-out;
		-o-transition: all 0.30s ease-in-out;
	}

/*
--------------------------------------------------------------------------
TRANSFORMS
--------------------------------------------------------------------------
*/
	/*Transform*/
	@mixin transform($arguments){
		-webkit-transform: $arguments;
		-moz-transform: $arguments;
		-o-transform: $arguments;
		-ms-transform: $arguments;
		transform: $arguments;
	}
	/*Transition*/
	@mixin transition($arguments){
		-webkit-transition: $arguments;
		-moz-transition: $arguments;
		-o-transition: $arguments;
		-ms-transition: $arguments;
		transition: $arguments;
	}
	/*Rotate*/
	@mixin rotation($deg:5deg){
		@include transform(rotate($deg));
	}
	/*Scale*/
	@mixin scale($ratio:1.5){
		@include transform(scale($ratio));
	}


/*
--------------------------------------------------------------------------
MISC
--------------------------------------------------------------------------
*/
	/* Rounded Corners */
	@mixin rounded($radius){
		border-radius: $radius + px;
	}


/*
--------------------------------------------------------------------------
FOCUS
--------------------------------------------------------------------------
*/
	@mixin focus{
		transition: box-shadow 0.15s ease-in-out, color 0.15s ease-in-out;
		box-shadow: 0 0 0 0.2rem $border-color-focus;
		-webkit-box-shadow: 0 0 0 0.2rem $border-color-focus;
		outline: none;
	}


/*
--------------------------------------------------------------------------
FONT/TYPOGRAPGHY
--------------------------------------------------------------------------
*/
	/*// Font sizes (primary sizing in `rem` units with a fallback of `px`)
	// Example usage @include font-size(18);*/
	@mixin font-size ($size) {
	  $remValue: math.div($size, 16);
	  $pxValue: ($size);
	  font-size: $pxValue + px;
	  font-size: $remValue + rem;
	}

	/*// Line height sizes (primary sizing in `rem` units with a fallback of `px`)
	// Example usage @include line-height(22);*/
	@mixin line-height ($size: null) {
		@if $size{
			$remValue: math.div($size, 16);
			$pxValue: ($size);
			line-height: $pxValue + px;
			line-height: $remValue + rem;
		}
		@else{
			line-height: 1.5;
		}
	}



/*
--------------------------------------------------------------------------
MEDIA BREAKPOINTS
--------------------------------------------------------------------------
*/
	/*
	Breakpoint sizes
	Example usage @include responsive(x) { ... }; - where x is the device
	*/
	@mixin responsive($bp) {
		@if $bp == lg {
			@media only screen and (min-width: $large-breakpoint) and (max-width: $main-breakpoint) { @content ; }
		}
		@else if $bp == md {
			@media only screen and (min-width: $medium-breakpoint) and (max-width: $large-breakpoint) { @content ; }
		}
		@else if $bp == mobile {
			@media only screen and (max-width: $mobile-breakpoint) { @content ; }
		}
	}

	/*
	Breakpoint sizes
	Example usage @include responsiveSelfBelow(x) { ... }; - where x is the device - responsiveSelfBelow(md) { ... };
	*/
	@mixin responsiveSelfBelow($bp) {
		@if $bp == lg {
			@media only screen and (max-width: $main-breakpoint) { @content ; }
		}
		@else if $bp == md {
			@media only screen and (max-width: $large-breakpoint) { @content ; }
		}
		@else if $bp == mobile {
			@media only screen and (max-width: $mobile-breakpoint) { @content ; }
		}
	}

	/*
	Example usage @include responsiveSet(x) { ... }; - where x is the screen width in pixels - responsiveSet(980px) { ... };
	*/
	@mixin responsiveSet($maxWidth){
	    @media only screen and (max-width: $maxWidth) { @content ; }
	}
	@mixin responsiveBelow($maxWidth){
	    @media only screen and (max-width: $maxWidth) { @content ; }
	}

	/*
	Example usage @include responsiveAbove(x) { ... }; - where x is the screen width in pixels - responsiveAbove(780px) { ... };
	*/
	@mixin responsiveAbove($minWidth){
	    @media only screen and (min-width: $minWidth) { @content ; }
	}
