

// Responsive Break Points
// --------------------------------------------------------------------------
$mobile-container:								100% !default;
$medium-container:								764px !default;
$large-container:								980px !default;
$main-container:								1400px !default;
$wide-container:								1600px !default;

$mobile-breakpoint-adj:							15px !default;
$medium-breakpoint-adj:							15px !default;
$large-breakpoint-adj:							15px !default;
$main-breakpoint-adj:							15px !default;

$mobile-breakpoint:     						($medium-container + $mobile-breakpoint-adj);
$medium-breakpoint:     						($medium-container + $medium-breakpoint-adj);
$large-breakpoint:     							($large-container + $large-breakpoint-adj);
$main-breakpoint:    							($main-container + $main-breakpoint-adj);



// Gutter Space - left/right - Top/Bottom
// --------------------------------------------------------------------------
$grid-gutter:									15px !default;
$row-gutter:									15px !default;
$gap:											$grid-gutter * 2 !default;



// COLORS
// --------------------------------------------------------------------------
$color-primary: 								#003C6C !default;
$color-secondary: 								#FDC700 !default;
$color-tertiary: 								#F4EFE8 !default;
$color-quaternary: 								#93C02D !default;

$color-gray:									#313131 !default;
$color-gray-lt: 								#D9D9D9 !default;
$color-gray-dk: 								#434750 !default;

$color-white:									#FFFFFF !default;
$color-black:									#000000 !default;

$color-success:									#28a745 !default; // not used
$color-danger:									#dc3545 !default; // not used
$color-warning:									#ffc107 !default; // not used
$color-info:									#17a2b8 !default; // not used



// Fonts
// --------------------------------------------------------------------------
$main-font:										'Roboto', sans-serif !default;
$header-font:                                   'le-monde-livre-classic-byol', serif !default;
$btn-font:										'Roboto', sans-serif !default;
$inter:                                         'Inter', sans-serif !default;


// Body
// ----------------------------------------------------------------------
$font-size-body:								16 !default;
$line-height-body:								null !default;
$font-weight-body:								400 !default;

$color-body:									#313131 !default;

$background-color-body:							$color-white !default;


// Headings
// ----------------------------------------------------------------------
//H1
$font-size-h1:									70 !default;
$line-height-h1:								72 !default;
$font-weight-h1:								700 !default;
$color-h1:										$color-primary !default;

//H2
$font-size-h2:									46 !default;
$line-height-h2:								55 !default;
$font-weight-h2:								700 !default;
$color-h2:										$color-primary !default;

//H3
$font-size-h3:									26 !default;
$line-height-h3:								34 !default;
$font-weight-h3:								700 !default;
$color-h3:										$color-gray !default;

//H4
$font-size-h4:									24 !default;
$line-height-h4:								32 !default;
$font-weight-h4:								700 !default;
$color-h4:										$color-primary !default;

//H5
$font-size-h5:									16 !default;
$line-height-h5:								null !default;
$font-weight-h5:								700 !default;
$color-h5:										$color-primary !default;

//H6
$font-size-h6:									16 !default;
$line-height-h6:								null !default;
$font-weight-h6:								400 !default;
$color-h6:										$color-primary !default;


// Links
// ----------------------------------------------------------------------
$color-a:										$color-primary !default;
$color-a-hover:								    $color-secondary !default;


// FOCUS
// ----------------------------------------------------------------------
$border-color-focus:							rgba($color-secondary, 0.7) !default;


// HR
// ----------------------------------------------------------------------
$color-hr:										$color-quaternary !default;
$background-color-hr:							$color-quaternary !default;


// Quotes, cite and Lead
// ----------------------------------------------------------------------
//Quotes
$font-size-blockquote:							24 !default;
$line-height-blockquote:						36 !default;
$font-weight-blockquote:						300 !default;

$color-blockquote:								$color-body !default;
$color-blockquote-border:						$color-primary !default;

$background-color-blockquote:					null !default;

//Cite
$font-size-cite:								14 !default;
$color-cite:									$color-primary !default;


// Lead
// ----------------------------------------------------------------------
$font-size-lead:								24 !default;
$line-height-lead:								36 !default;
$font-weight-lead:								300 !default;

$color-lead:									$color-body !default;


// Buttons
// ----------------------------------------------------------------------
$font-size-btn:									14 !default;
$line-height-btn:								null !default;
$font-weight-btn:								700 !default;
$letter-spacing-btn:					        0.025rem !default;
$text-transform-btn:							uppercase !default;

$padding-btn:									0.7rem 3rem !default;

$color-btn:										$color-white !default;
$color-btn-hover:								$color-white !default;
$color-btn-disabled:							$color-gray !default;
$color-btn-unstyled:							$color-gray !default;

$background-color-btn:							$color-primary !default;
$background-color-btn-hover:					darken($color-primary, 5%) !default;
$background-color-btn-disable:					$color-gray !default;
$background-color-btn-unstyled-disabled:		$color-gray !default;

$border-color-btn:								$color-primary !default;
$border-color-btn-hover:						$background-color-btn-hover !default;

// primary
$background-color-btn-primary:					$color-primary !default;
$color-btn-primary:								$color-white !default;

// secondary
$background-color-btn-secondary:				$color-secondary !default;
$color-btn-secondary:							$color-primary !default;

// success
$background-color-btn-success:					$color-success !default;
$color-btn-success:								$color-white !default;

// danger
$background-color-btn-danger:					$color-danger !default;
$color-btn-danger:								$color-white !default;

// warning
$background-color-btn-warning:					$color-warning !default;
$color-btn-warning:								$color-black !default;

// info
$background-color-btn-info:						$color-info !default;
$color-btn-info:								$color-white !default;


// accordions
// ----------------------------------------------------------------------
$font-size-acc-title:							16 !default;
$line-height-acc-title:							null !default;
$font-size-acc-icon:							12 !default;

$color-acc-title:								$color-primary !default;
$color-acc-title-active:						$color-primary !default;
$color-acc-title-hover:							$color-primary !default;

$background-color-acc-title:					transparent !default;
$background-color-acc-title-active:				transparent !default;

$border-color-acc-top:							1px solid $color-gray-lt !default; //ex: (1px solid $color-primary)
$border-color-acc-bottom:						null !default;	//ex: (1px solid $color-primary)


// tables
// ----------------------------------------------------------------------
$border-color-table:							$color-gray !default;
$border-color-table-td:							$color-gray !default;

$color-table-thead:								$color-white !default;
$background-color-thead:						$color-primary !default;
$border-color-table-thead-th:					$color-gray !default;

$color-table-tfoot:								$color-body !default;
$background-color-tfoot:						$color-tertiary !default;
$border-color-table-tfoot-th:					$color-gray !default;

$color-table-subhead:							$color-body !default;
$background-color-subhead:						$color-tertiary !default;
$border-color-table-subhead:					$color-gray !default;


// tabs
// ----------------------------------------------------------------------
$font-size-tab-title:							$font-size-body !default;

$color-tab:										$color-gray !default;
$color-tab-active:								$color-white !default;
$color-tab-focus:								$color-white !default;

$background-color-tab:							$color-tertiary !default;
$background-color-tab-active:					$color-primary !default;
$background-color-tab-focus:					$background-color-btn-hover !default;

$border-color-tab:								$color-primary !default;


// forms
// ----------------------------------------------------------------------
$color-label-text:								$color-body !default;
$color-input-text:								$color-body !default;
$color-placeholder-text:						$color-gray !default;

$background-color-input-text:					$color-white !default;
$border-color-input-text:						$color-gray !default;


// popups
// ----------------------------------------------------------------------
$color-fancybox-close:							$color-primary !default;
$color-fancybox-close-hover:					$color-white !default;

$background-color-fancybox-close:				$color-primary !default;
$background-color-fancybox-close-hover:			$background-color-btn-hover !default;


// skip link
// ----------------------------------------------------------------------
$color-skip-link:								$color-white !default;

$background-color-skip-link:					$color-primary !default;

// header
// ----------------------------------------------------------------------
$background-color-header:						#021C40 !default;

//meta menu
$color-a-meta:									$color-primary !default;
$color-a-meta-hover:							$color-secondary !default;

$color-btn-meta:								$color-white !default;
$color-btn-meta-hover:							$color-white !default;

$background-color-btn-meta:						$color-primary !default;
$background-color-btn-meta-hover:				$color-secondary !default;

//main menu
$color-a-menu:									$color-white !default;
$color-a-menu-hover:							$color-secondary !default;

//submenus
$background-color-submenu:						$color-tertiary !default;
$border-color-submenu:							$color-tertiary !default;

//Mobile Menu Button
$background-color-menu-btn:						$color-white !default;
$background-color-menu-btn-hover:				$color-secondary !default;

//Mobile Navigation Wrapper
$background-color-nav-wrapper:					$color-primary !default;


// Footer
// ----------------------------------------------------------------------
$color-footer-text:								$color-white !default;
$color-footer-link:								$color-white !default;
$color-footer-link-hover:						$color-secondary !default;

$background-color-footer:						$color-primary !default;
