/* Clearfix */
.clear:before, .clear:after { content: ""; display: table; } .clear:after { clear: both; } .clear {}

// Images
img.fluid{
	width: 100%;
	height: auto;
}
img.rounded{
	@include rounded(30);
}
img.circle{
	border-radius: 50%;
}
img.bordered{
	border:1px solid $color-secondary;
}

// Display Types
.d-none { display: none; }
.d-block { display: block; }
.d-inline-block { display: inline-block; }
.d-inline { display: inline; }

.hide {opacity: 0;}
.show {opacity: 1;}

// General Resets
.no-margin { margin: 0; }
.no-padding { padding: 0; }
.no-float { float: none; }
.no-background { background: transparent; }
.no-border { border: 0; }
.no-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

// Font Weights
.font-100 { font-weight: 100; }
.font-200 { font-weight: 200; }
.font-300 { font-weight: 300; }
.font-400 { font-weight: 400; }
.font-500 { font-weight: 500; }
.font-600 { font-weight: 600; }
.font-700 { font-weight: 700; }
.font-800 { font-weight: 800; }
.font-900 { font-weight: 900; }

// Font Styles
.font-normal { font-style: normal; }
.font-italic { font-style: italic; }

//Font Families
.font-sans{font-family: sans-serif;}
.font-serif{font-family: serif;}

// Text Modifications
.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }
.capitalize { text-transform: capitalize; }

// Text Alignments
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }

// Positions
.relative { position: relative; }
.absolute { position: absolute; }
.static { position: static; }
.fixed { position: fixed; }

// Flex Types
.flex { display: flex; }

.flex-row { flex-direction: row; }
.flex-column { flex-direction: column; }

.flex-space-around { justify-content: space-around; }
.flex-space-between { justify-content: space-between; }
.flex-start { justify-content: flex-start; }
.flex-center { justify-content: center; }
.flex-end { justify-content: flex-end; }

.flex-wrap { flex-wrap: wrap; -ms-flex-wrap: wrap;}
.flex-nowrap { flex-wrap: nowrap; }

.flex-align-stretch { align-items: stretch; }
.flex-align-start { align-items: flex-start; }
.flex-align-end { align-items: flex-end; }
.flex-align-center { align-items: center; }
.flex-align-baseline { align-items: baseline; }

.flex-align-content-start { align-content-items: flex-start; }
.flex-align-content-end { align-content-items: flex-end; }
.flex-align-content-center { align-content-items: center; }
.flex-align-content-space-between { align-content-items: space-between; }
.flex-align-content-space-around { align-content-items: space-around; }
.flex-align-content-stretch { align-content-items: stretch; }

.flex-align-self-start { align-self: flex-start; }
.flex-align-self-end { align-self: flex-end; }
.flex-align-self-center { align-self: center; }
.flex-align-self-baseline { align-self: baseline; }
.flex-align-self-stretch { align-self: stretch; }

/*Flex Orders*/
.order-1{order:1;}
.order-2{order:2;}

// Disable Element
.disabled, [disabled] {
	pointer-events: none;
	cursor: not-allowed;
	opacity: .5;
}

// Checkbox and Radio
.checkbox,
.radio {
	display: inline-block;
	position: relative;
	label {
		padding-left: 20px;
		padding-top: 0;
		display: inline-block;
	}
	input[type="checkbox"],
	input[type="radio"] {
		position: absolute;
		top: 4px;
		left: 0;
	}
}


// lists
.no-bullet{
	list-style: none;
	li{
		list-style: none;
		&:before{
			content: '';
		}
	}
}
.list-unstyled {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		margin: 0;
		padding: 0;
	}
}
.list-inline {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		margin: 0;
		padding: 0;
		display: inline-block;
	}
}

.nowrap{white-space:nowrap;}
.breakword{
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;

	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

.wrapper{width:100%; position: relative; margin:auto;}

.spacer{clear: both;}

.print-only{display: none !important;}

.text-white { color: $color-white !important; }
.mt-30 { margin-top: 30px !important; }

.mb-0 { margin-bottom: 0 !important; }
.mt-0 { margin-top: 0 !important; }

.header-font { font-family: $header-font;}
