.whos-coming-section {
    padding: 60px 0;
    background-color: $color-white;

    .section-title {
        text-align: center;
        // margin-bottom: 60px;

        @include responsive(mobile) {
            margin-bottom: 0;
        }
    }

    .topography-overlay {
        // opacity: .1;
    }

    .attendee-details {
        border-top: 1px solid $color-gray-lt;
        color: $color-primary;
        margin-bottom: 30px;


        .attendee-name {
            font-family: $inter;
            margin-bottom: 5px;
        }

        .attendee-description {
            font-family: $header-font;
            margin-top: 5px;
        }
    }

    .cta-wrapper {
        text-align: center;
        margin: 60px 0;
    }

    a.button { margin-top: 30px; }

    .card-image-wrapper {
        @include responsive(mobile) {
            max-width: 400px;
            margin: auto auto $gap auto;

        }
    }
}
