.events-section {

    .topography-overlay { opacity: .07; }

    .event-wrapper {
        display: flex;
        gap: $gap;
        position: relative;
        margin-bottom: 50px;

        @include responsive(mobile) {
            flex-direction: column;
            gap: $row-gutter;
        }

        .event-time-wrapper {
            display: flex;
            flex-direction: column;
            gap: $row-gutter;

            @include responsive(mobile) {
                flex-direction: row;
                align-items: center;
            }
        }

        .event-time {
            min-width: 150px;
            white-space: nowrap;
            display: block;
            text-align: center;
            color: $color-gray;
            font-family: $header-font;

            @include responsive(mobile) {
                min-width: auto;
                text-align: left;
            }
        }

        .event-vertical-line {
            height: 100%;
            width: 100%;
            position: relative;

            &::after {
                display: block;
                position: absolute;
                content: '';
                width: 1px;
                background-color: $color-gray-lt;
                height: 100%;
                top: 0;
                left: 50%;

                @include responsive(mobile) {
                    width: 100%;
                    height: 1px;
                    top: 50%;
                    left: 0;
                }

            }
        }

        .sold-out {
            background-color: $color-secondary;
            font-size: 11px;
            line-height: 16px;
            padding: 2px 5px;
            font-weight: 700;
            white-space: nowrap;
            display: inline-block;
            position: relative;
            bottom: 2px;
        }
    }
}
