.intro-section {
    padding: 60px 0 220px 0;
    background-color: $color-tertiary;
    position: relative;

    .container {
        max-width: 840px;
        margin: auto;
        text-align: center;
    }

    hr {
        max-width: 150px;
    }
}
