.recap-section {
    padding: 60px 0;

    h2 { margin-bottom: 60px; }

    .btn-group {
        display: flex;
        gap: 30px;
        justify-content: center;

        @include responsive(mobile) { flex-direction: column; }
    }
}
