fieldset {border: 0;}

legend {
	color: $color-label-text;
	white-space: normal;
}

label {
	color:$color-label-text;
	cursor: pointer;
	display: block;
}

input, select, textarea {
	vertical-align: baseline; 
	*vertical-align: middle;
}
input[disabled],
textarea[disabled] {
	cursor: not-allowed;
	overflow: hidden;
	white-space: nowrap;
}

input[type="date"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="datetime-local"],
textarea,
select {
	appearance: none;
	-moz-appearance: none; // Remove Default Browser Behaviour for Firefox
	-webkit-appearance: none; // Remove Default Browser Behaviour for Safari
	background-color: $background-color-input-text;
	border: 1px solid $border-color-input-text;
	color: $color-input-text;
	display: block;
	font-family: $main-font;
	font-weight:normal;
	line-height: normal;
	padding: 0.6rem;
	width: 100%;
}
textarea {
	font-family: $main-font;
	height: 5.5rem;
	overflow: auto;
	padding: 0.6rem;
	resize: vertical;
	vertical-align: top;
}

select {
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E);
	background-repeat: no-repeat;
	background-position: right 5px top 55%;
    background-size: 16px 16px;
}

input[type="button"], 
input[type="reset"], 
input[type="submit"] {
	@extend button;
}

input[type="search"] {}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	cursor: pointer;
	display: inline-block;
	margin-bottom: 0;
}

input::placeholder,
textarea::placeholder {
	opacity: 1;
	color: $color-placeholder-text;
}