h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-family: $header-font;
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
    letter-spacing: 0.03rem;
}
h1, .h1 {
	@include font-size($font-size-h1);
	@include line-height($line-height-h1);
	font-weight: $font-weight-h1;
	color: $color-h1;
}
h2, .h2 {
	@include font-size($font-size-h2);
	@include line-height($line-height-h2);
	font-weight: $font-weight-h2;
	color: $color-h2;
}
h3, .h3 {
	@include font-size($font-size-h3);
	@include line-height($line-height-h3);
	font-weight: $font-weight-h3;
	color: $color-h3;
}
h4, .h4 {
	@include font-size($font-size-h4);
	@include line-height($line-height-h4);
	font-weight: $font-weight-h4;
	color: $color-h4;
}
h5, .h5 {
	@include font-size($font-size-h5);
	@include line-height($line-height-h5);
	font-weight: $font-weight-h5;
	color: $color-h5;
    font-family: $inter;
}
h6, .h6 {
	@include font-size($font-size-h6);
	@include line-height($line-height-h6);
	font-weight: $font-weight-h6;
	color: $color-h6;
}
