/*remove defaults*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

/*correct block display for HTML5 elements on older browsers*/
article, aside, details, figcaption, figure, footer,
header, hgroup, main, menu, nav, section, summary {
display: block;
}

/*box model*/
*,
*:before,
*:after,
::before,
::after {
  box-sizing: border-box;
  border-width: 0; /* 2 */
  border: 0 solid;
}

/*html & body to inherit height of the viewport*/
body {
height: 100%;
}

html {
background: #fff;
text-size-adjust: 100%;
}

/*correct inline-block display not defined in IE 8/9*/
audio,
canvas,
progress,
video {
display: inline-block;
vertical-align: baseline;
}

/*prevent modern browsers from displaying 'audio' without controls remove excess height in iOS 5 devices*/
audio:not([controls]) {
display: none;
height: 0;
}

body {
line-height: 1.5;
}

ol, ul, menu {
list-style: none;
}

/*remove the gray background color from active links in IE 10*/
a {
background-color: transparent;
}

/*address outline inconsistency between Chrome and other browsers*/
a:focus {
outline: thin dotted;
}

/*improve readability when focused and also mouse hovered in all browsers*/
a:active,
a:hover {
outline: 0;
}

blockquote, q {
quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
content: '';
content: none;
}

/*Remove most spacing between table cells*/
table {
border-collapse: collapse;
border-spacing: 0;
}

/*resize img's and video to scale with container*/
img,
video {
max-width: 100%;
height: auto;
vertical-align: middle;
}

/*Prevent iframe, object, and embed elements from spilling outside of the page on smaller screens*/
iframe,
object,
embed {
max-width: 100%;
}

/*help ie render img's when scaled*/
img {
-ms-interpolation-mode: bicubic;
border: 0;
}

svg:not(:root) {
overflow: hidden;
}

/*improve usability and consistency of cursor style between inputs*/
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
cursor: pointer;
}

input[type="search"] {}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"] {
-webkit-appearance: none;
}

/*remove inner padding and border in Firefox 4+*/
button::-moz-focus-inner,
input::-moz-focus-inner {
border: 0;
padding: 0;
}


/*
---------------------------------------------
Tailwind based configurations to sort
---------------------------------------------
*/

/*
Use the modern Firefox focus style for all focusable elements.
*/
:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}


/*
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}