table {
	-ms-word-wrap: break-word; // IE8
	*white-space: normal; // IE7
	border-collapse: collapse;
	border-color: $border-color-table;
	border-spacing: 0;
	min-width: 764px;
	width: 100%;
	word-wrap: break-word;

	thead {
		th, td {
			background-color: $background-color-thead;
			border-bottom: 1px solid;
			border-left: 1px solid;
			border-right: 1px solid;
			border-top: 1px solid;
			border-color: $border-color-table-thead-th;
			color: $color-table-thead;
			font-weight: 700;
			text-align: inherit;
			padding: .5em;
		}
	}

	td {
		border-bottom: 1px solid;
		border-left: 1px solid;
		border-right: 1px solid;
		border-top: 1px solid;
		border-color: $border-color-table-td;
		padding: 0.3rem;
		text-align: left;
	}

	tfoot {
		th, td {
			background-color: $background-color-tfoot;
			border-bottom: 1px solid;
			border-left: 1px solid;
			border-right: 1px solid;
			border-top: 1px solid;
			border-color: $border-color-table-thead-th;
			color: $color-table-tfoot;
			font-weight: 700;
			padding: .5em;
		}
	}
}

.table-wrapper{
	overflow-x: auto;
}