/* Strong and Italic */
b, strong {font-weight: 700;}
i, em, .em {font-style: italic;}

/* Links */
a {
	@include link();
	color: $color-a;
	cursor: pointer;
	outline: 0;
	text-decoration: underline;
}
a:hover {outline: 0; color: $color-a-hover;}
a:active {outline: 0;}
a:focus {outline: 0;}
a:focus-visible {outline: 0;}

/* Paragraph */
p {margin: 0.75rem 0 0.75rem 0;}

/* Pre */
pre {margin: 0.75rem 0;}
ul+p, ul+pre, ol+p, ol+pre {margin-top: 0;}

/* small */
small {font-size: 80%;}

/* big */
big {font-size: 120%;}

/* Abbreviations */
abbr[title] {border-bottom: 1px dotted;}

/* Variables */
var {font-style: italic;}

/* Audio */
audio, canvas, video {display: block;}
audio:not([controls]) {
	display: none;
	height: 0;
}

/* Sub and Sup */
sub {
	font-size: smaller;
	vertical-align: sub;
}
sup {
	font-size: smaller;
	vertical-align: super;
}

/* Definition */
dfn {font-style: italic;}

/* Mark */
mark {background-color: #ff0;}

/* Code */
code, kbd, pre, samp {
	background-color: #E8E8E8;
	font-family: 'courier new', monospace, serif;
	font-weight: normal;
	padding: 0.6rem;
	white-space: break-spaces;
	word-wrap: break-word;
}

samp, pre.sf-dump {background-color: transparent;}

address {
	display: block;
	font-style: italic;
	margin: 1rem 0;
}

/* Focus */
*:focus {
	outline: none;
	box-shadow: none;
}

*:focus-visible {
	@include focus;
}
