$accordion-paddingX: calc($gap + 10px); // width of $gap + plus;

.accordion-block {
	border-bottom: $border-color-acc-bottom;
	border-top: $border-color-acc-top;
	// margin-bottom: 10px;
	// margin-top: 10px;

	button.accordion-button, .accordion-button {
		@include link();
		background-color: $background-color-acc-title;
		border: 0;
		color: $color-acc-title;
		cursor: pointer;
		letter-spacing: normal;
		overflow: hidden;
		padding: $row-gutter $accordion-paddingX;
        position: relative;
		text-align: inherit;
		text-transform: none;
		width: 100%;

    @include font-size($font-size-acc-title);
    font-family: $inter;

    span {
      @include all();
      display: block;
      position: absolute;
      left: 0;
      top: 20px;
      font-size: 12px;
      font-weight: 600;
    }


		&:hover, &:focus-visible {
			background-color: $background-color-acc-title-active !important;
			color: $color-acc-title-hover !important;
		}
	}

  .accordion-content {
    padding: 0 $accordion-paddingX ;
  }

	&.first {}
	&.last {}
}
