// Lead
// -----------------------------------------------------------------------
.lead{
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
	@include font-size($font-size-lead);
	@include line-height($line-height-lead);
	color:$color-lead;
    font-weight: $font-weight-lead;
}
span.lead{display: inline-block;}
