#search-form-wrapper{
	position: relative;
	width: 300px;
	margin-left: 20px;
	@include responsive(md){}
	@include responsive(mobile){
		float: none;
		margin-left: 0;
		width: auto;
		margin-right: 5px;
		margin-top: 10px;
	}
}
form.search{
	position: relative;
	width: 100%;
	input[type="search"]{
		position:relative;
		padding: 8px 40px 8px 10px;
		border:1px solid $color-primary;
		@include rounded(20);
	}
	button[type="submit"]{
		position: absolute;
		top: 1px;
		right: 0px;
		padding: 5px 10px 5px 5px;
		border: none;
		height: 33px;
		border-radius: 0px 20px 20px 0;
		background-color: transparent;

		.text{
			display: none;
		}

		svg{
			path{
				stroke: $color-primary;
			}
		}

		&:hover, &:focus-visible{
			svg{
				path{
					stroke: $color-secondary;
				}
			}
		}
	}
}