.site-branding{
    position: absolute;
    top: $row-gutter;
	@include responsive(mobile){
        position: static;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
		padding-top: 0;
		padding-bottom: 0;
	}
	a{
		display: inline-block;
	}
	img{
		@include responsive(md){}
		@include responsive(mobile){
        }
	}
    .site-logo {
        img {
            @include responsive(mobile) { width: 150px; }
        }
    }

    .alumni-logo {
        display: inline-block;

        img {
            @include responsive(mobile) { width: 200px; }
        }

    }
}
