.skip-link{	
	z-index: -1;
	position: absolute;
	padding: 10px;
	@include font-size(16);
	font-weight: 600;
	text-transform: uppercase;
	color: $color-skip-link !important;
	background-color: $background-color-skip-link;
	text-decoration: none;
	top: 20px;
	@include all();
	left: -300px;
	&:focus{
		left: 0px;
		z-index: 999999;
		box-shadow: none;
	}
}