ul {
	display: none;
	padding: 10px 10px;
	margin: 0px;
	position: absolute;
	width: 260px;
    top: calc(100% + 10px);
	z-index: 999;
	text-align: left;
	background-color: $background-color-submenu;
	border: 1px solid $border-color-submenu;

	@include responsive(mobile) {
		position: relative;
		display: none;
		top: auto;
		left: auto;
		width: 100%;
		text-align: right;
		padding: 5px;
		border: none;
	}

	@include responsiveSet(380px) {
		text-align: center;
	}

	li {
		display: block;
		padding: 3px;

		@include responsive(mobile) {
			padding: 0 10px;
		}

		a {
            color: $color-primary;

			@include responsive(mobile) {
				padding: 5px 0px;
			}
		}

		a:hover {}

		ul {
			left: 100%;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 999;
			@include responsive(mobile) {
				position: relative;
				display: block;
				top: auto;
				left: auto;
				width: 100%;
			}

			@include responsiveSet(380px) {}

			li {}
		}

		.submenu-icon {
			display: none;
		}

	}

	li:hover > ul {
		@include responsive(mobile) {
			display: block;
		}
	}
}
