#navigation-wrapper{
	@include responsive(mobile){
		overflow: hidden;
		display: block;
		max-width: 480px;
		position: fixed;
		right: -480px;
		width: 100%;
		padding: 20px 15px 0;
		margin:0px;
		height: auto;
		top: 50px;
		bottom: 0px;
		overflow-y: auto;
		z-index: -1;
		background-color:$background-color-nav-wrapper;
		&.on{
            transition: right ease-in-out .3s;
			right: 0px;
			z-index: 1;
		}
	}
}
