$accordion-paddingX: calc($gap + 10px); // width of $gap + plus;

.accordion-block {
	border-bottom: $border-color-acc-bottom;
	border-top: $border-color-acc-top;
	margin-bottom: 10px;
	margin-top: 10px;

	button.accordion-button, .accordion-button {
		@include link();
		background-color: $background-color-acc-title;
		border: 0;
		color: $color-acc-title;
		cursor: pointer;
		letter-spacing: normal;
		overflow: hidden;
		padding: $row-gutter $accordion-paddingX;
        position: relative;
		text-align: inherit;
		text-transform: none;
		width: 100%;

		.accordion-title {
			@include font-size($font-size-acc-title);
			@include line-height($line-height-acc-title);
			@include link();
            font-family: $inter;
			display: block;
			margin: 0;
			padding: 0;
		}

		.accordion-icon {
			@include all();
			@include font-size($font-size-acc-icon);
			display: block;
			position: absolute;
            left: 0;
            top: 19px;
			&::after {
				content: "\f067";
				display: inline-block;
				font-family: "Font Awesome 5 Pro";
				font-style: normal;
				font-variant: normal;
				font-weight: 700;
				line-height: 1;
				text-rendering: auto;
			}
		}

		&.on {
			background-color: $background-color-acc-title-active !important;
			color: $color-acc-title-hover !important;
			.accordion-icon {
				transform: rotate(135deg);
			}
		}

		&:hover, &:focus-visible {
			background-color: $background-color-acc-title-active !important;
			color: $color-acc-title-hover !important;
		}
	}

	.accordion-content {
		display: none;
		padding: 0 $accordion-paddingX $row-gutter;
	}

	&.first {}
	&.last {}
}
