.bg-video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    top: 50%;
    left: 50%;
    object-fit: cover;
    transform: translate(-50%, -50%);

    @include responsive(mobile) {
        display: none;
    }

    &-controls {
        display: flex;
        height: 100%;
        justify-content: flex-end;

        @include responsive(mobile) {
            justify-content: flex-start;
        }


        .fas {
            margin-right: 15px;
        }

        .bg-video-playpause {
            align-self: flex-end;
            background-color: rgba($color-black, .7);
            padding: .8rem 2rem;
            border-radius: 20px;
            @include font-size(12);
            @include line-height(12);

            @include responsive(mobile) {
                display: none;
            }

            &:hover,
            &:focus-visible {
                background-color: $color-black;
            }

            &.play {
                .play-text {
                    display: none;
                }
            }

            &.pause {
                .pause-text {
                    display: none;
                }
            }
        }
    }
}
