.card {
    margin: $row-gutter 0;
    display: flex;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);

    &-image-wrapper {
        position: relative;
        max-width: 590px;

        @include responsive(mobile) { max-width: none; }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: top;
        }
    }

    &-image-label {
        display: flex;
        align-items: center;
        gap: $row-gutter;
        position: absolute;
        top: $gap;
        left: 0;
        background-color: $color-secondary;
        padding: $row-gutter;

        img {
            width: 24px;
            height: auto;
        }

        span {
            font-weight: 650;
            text-transform: uppercase;
            font-family: $header-font;
            @include font-size(26);
            @include line-height(26);
        }
    }

    &-content-wrapper {
        padding: 60px;
        background-color: $color-white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        @include responsive(mobile) { padding: 30px; }

        .button { margin-top: 10px; }
    }

    &-table {
        min-width: inherit;
        margin: 0.75rem 0;

        td {
            border: 0;
            vertical-align: middle;
            padding: 15px 5px 15px 0;
        }
        td:last-child { padding-right: 0; }
        tr:not(:last-child) {
            border-bottom: 1px solid $color-white;
        }
    }

}

// Card Version
// -----------------------------------------------------------------------
.card {
    &-horizontal-right {
        flex-direction: row-reverse;
        min-height: 450px;
        margin: 60px 0;

        @include responsive(mobile) { flex-direction: column; }

        .card-image-wrapper {
            flex: 1 1 100%;

            & > img { @include responsive(mobile) { height: 260px; } }
        }
    }

    &-horizontal-left {
        flex-direction: row;
        min-height: 450px;
        margin: 60px 0;

        @include responsive(mobile) { flex-direction: column; }

        .card-image-wrapper {
            flex: 1 1 100%;

            & > img { @include responsive(mobile) { height: 260px; } }
        }
    }

    &-vertical-lg {
        flex-direction: column;
        max-width: 560px;
        width: 100%;
        margin: 0;

        img { height: 275px; }

        .card-title {
            font-family: $inter;
        }

        a.button { margin: 0; }

        .card-content-wrapper {
            padding: 40px 60px;
            width: 100%;

            @include responsive(mobile) { padding: 30px; }
        }

        @include responsive(mobile) {
            max-width: none;
        }
    }

    &-vertical-sm {
        flex-direction: column;
        max-width: 560px;
        height: 100%;
        margin: 30px 0;

        img { height: 260px; }

        @include responsive(mobile) {
            max-width: none;
            height: auto;
        }

        .card-content-wrapper {
            justify-content: flex-start;
            height: 100%;
            background-color: $color-primary;
            color: $color-white;
            padding: 40px;

            @include responsiveBelow(900px) { padding: 30px; }

            h3, p { color: $color-white; }

            .button {
                color: $color-white;
                border-color: $color-white;
            }
        }

    }
}
