.topography-overlay {
    background-image: url('../img/topography-map-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    max-height: 120vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
}


.treeline-overlay {
    background-image: url('../img/treeline.png');
    background-position: top left;
    background-repeat: repeat-x;
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
}
