.page-banner {
    position: relative;
	background-color: $color-primary;
	color: $color-white;
    padding: 150px 0 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    @include responsive(mobile) { padding: $gap 0; }

    .page-title {
        color: $color-white;

        @include responsive(mobile) {
            @include font-size(60);
            @include line-height(68);
        }
    }

    .banner-logo { margin-top: 15px; }

    &-overlay {
        position: absolute;
        pointer-events: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color-primary, .5);
    }

    &-schedule { background-image: url('../img/campus.jpg'); }
    &-home { background-image: url('../img/campus.jpg'); }

    &-dates {
        width: auto;
        display: inline-flex;
        align-items: center;
        gap: $gap;
        padding: $row-gutter 0;
        margin: $row-gutter 0;
        border-top: 1px solid $color-secondary;
        border-bottom: 1px solid $color-secondary;
        color: $color-secondary;
        font-family: $header-font;
        text-transform: uppercase;
        font-weight: 700;
        @include font-size(50);
        @include line-height(40);

        span {
            @include font-size(32);
            @include line-height(32);
            font-weight: 700;
        }
        .date {
            &--end { text-align: right; }
            &--seperator { transform: skew(-20deg, -10deg); }
        }
    }

    &-cta {
        margin-top: $row-gutter;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: $gap;

        a {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            text-transform: none;
            @include font-size(24);
        }

        .fa-chevron-right { @include font-size(16); }
    }
}
