.popup-wrapper{display: none;}
.popup{display: none;}

a.thumbnail-popup{
	background-color: transparent;
	display: inline-block;
	img{
		@include fade();
		opacity: 1;
	}
	&:hover{
		img{
			opacity: 0.8;
		}
	}
}

a.video-inline_popup{
	text-decoration:underline;
	text-decoration-thickness: 0.1em;
	font-weight: 700;
	color:$color-a;
	&:hover{
		color:$color-a-hover;
	}
}

a.video-popup{
	display: block;
	background-color: #333;
	position: relative;
	overflow:hidden;
	margin:0 0 1.5em;
	img{
		opacity: 0.5;
		@include fade();
	}
	.play-btn{
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		background-image: url(../img/btn-play.png);
		top: 0px;
		left: 0;
		background-size: 200px auto;
		background-position: center;
		background-repeat: no-repeat;
		opacity: 0.8;
		@include fade();
	}
	&:hover{
		img{
			opacity: 0.3;
		}
		.play-btn{
			opacity: 1;
		}
	}
}

.fancybox-content{
	width: 100%;
	max-width: 900px;
	padding: 40px 50px 40px;
	//overflow:visible;
	@include responsiveSet(570px){
		padding:40px 10px;
	}
	a{font-weight: bold;}
	h4{}
}
.fancybox-slide--iframe .fancybox-content {
	width: 100%;
	max-width: 1100px;
}
.fancybox-slide--video .fancybox-content{
	max-width: 100%;
}

.fancybox-close-small{
	top: 20px;
    right: 50px;
    width: 35px;
    height: 35px;
	color: $color-fancybox-close;
    background-color: transparent;
    border: 1px solid $color-primary;
    border-radius: 50%;

    svg { opacity: 1; }

	&:hover{
		color:$color-fancybox-close-hover;
		background-color:$background-color-fancybox-close-hover;
	}
}
.fancybox-slide--iframe .fancybox-close-small{
	right: -44px;
	top: 0px;
	color:$color-fancybox-close;
}
.fancybox-button{
	color:$color-fancybox-close;
	background-color:$background-color-fancybox-close;
	&:hover{
		color:$color-fancybox-close-hover;
		background-color:$background-color-fancybox-close-hover;
	}
}

.fancybox-button:link{
	color:$color-fancybox-close;
	&:hover{
		color:$color-fancybox-close-hover;
	}
	&.disabled{
		opacity: 0.5;
	}
}

.fancybox-toolbar{}

.fancybox-container{
	font-family: $main-font;
	@include font-size($font-size-body);
	@include line-height($line-height-body);
	font-weight: $font-weight-body;
}
