* {margin: 0px;padding: 0px;}
@page {margin: 2cm;}
body {
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	line-height: 1.5;
	font-size: 11pt;
	color: #000;
}

p {padding: 10px 0px;}
a {text-decoration: none;color: #000;}
ul {page-break-inside: avoid;}
ul,ol {margin: 10px 0px;padding-left: 30px;}
ul li {list-style: disc; list-style-position: outside;}

h1,h2,h3,h4,h5,h6 {
	page-break-after: avoid;
	page-break-inside: avoid;
	margin: 10px 0px;
}

img {
	page-break-inside: avoid;
	page-break-after: avoid;
	max-width: 100%;
	height: auto;
}

blockquote, table, pre {page-break-inside: avoid;}
ul,ol,dl {page-break-before: avoid;}
body,article {width: 100%; margin: 0;padding: 0;}
hr {margin: 20px 0px;}
img,svg, nav {display: none;}
table {
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
}

*{background-image: none !important;}

table { border: 1px solid #c3bfc0; }
table td, table th {
	vertical-align: middle;
	border: 1px solid #c3bfc0;
	padding: 10px;
}
table th, table tfoot td { background-color: #eeeeee; }

.print-only { display: block; }




/*
*
* Custom Print Styles Below
*
*/

/* Misc */
#blackout,
#cookie-consent-bar, 
#decision-tree-chat, 
#cookie_consent {
	display: none;
}


/* Header styles */
#header {
	.skip-link, 
	#menu-btn, 
	#search-form-wrapper {
		display: none;
	}

	.site-branding{
		padding: 1.5rem;
		text-align: center;

		img { display: inline-block; }
	}

}


/*
*
* Main & Footer & WP Basic Block
*
*/
#main, #footer{
	.has-primary-color, 
	.has-secondary-color,
	.has-tertiary-color,
	.has-quaternary-color,
	.has-white-color,
	.has-text-color {
		color: #000000 !important;
	}

	.has-link-color a { color: #000000 !important; }
	.has-background { background-color: transparent !important; }
	.wp-block-buttons { display: none !important; }

	/* Video embeds */
	.is-type-video { display: none;	}
}


/*
*
* Custom Blocks
*
*/

/* Accordions */
.accordion-block {
	.accordion-title {
		display: block;
		font-size: 14pt;
		border: none;
		background-color: transparent;
		margin: 1rem 0;
		width: 100%;
		text-align: left;

		.acc-title {
			display: block;
			width: 100%;
		}
		.acc-chevron { display: none; }
	}
	.accordion-content { display: block !important;	}
}

/* Callout */
.callout { background-color: transparent !important; }

/* Link Card */
.link-card { display: none !important; }

/* Sliders */
.slick-slider {
	.slick-arrow, .slick-dots { display: none !important; }
	.slick-slide {
		display: block !important;
		float: none !important;
		width: 100% !important;
		opacity: 1.0 !important;
		padding: 20px 0px 0px;
		background:none !important;
		img {
			margin: 10px 0px;
			display: block;
		}
	}
	.slick-track {
		transform: none !important;
		width: auto !important;
	}
	.slick-list { height: auto !important; }
	.slick-cloned {	display: none !important; }
}

/* Tabs */
.tab-titles { display: none; }