/*
8888888888 .d88888b.  888b    888 88888888888 .d8888b.
888       d88P" "Y88b 8888b   888     888    d88P  Y88b
888       888     888 88888b  888     888    Y88b.
8888888   888     888 888Y88b 888     888     "Y888b.
888       888     888 888 Y88b888     888        "Y88b.
888       888     888 888  Y88888     888          "888
888       Y88b. .d88P 888   Y8888     888    Y88b  d88P
888        "Y88888P"  888    Y888     888     "Y8888P"
*/

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


/*
8888888 888b     d888 8888888b.   .d88888b.  8888888b. 88888888888 .d8888b.
  888   8888b   d8888 888   Y88b d88P" "Y88b 888   Y88b    888    d88P  Y88b
  888   88888b.d88888 888    888 888     888 888    888    888    Y88b.
  888   888Y88888P888 888   d88P 888     888 888   d88P    888     "Y888b.
  888   888 Y888P 888 8888888P"  888     888 8888888P"     888        "Y88b.
  888   888  Y8P  888 888        888     888 888 T88b      888          "888
  888   888   "   888 888        Y88b. .d88P 888  T88b     888    Y88b  d88P
8888888 888       888 888         "Y88888P"  888   T88b    888     "Y8888P"
*/


/*
--------------------------------------------------------------------------
Utilities - make sure you import variables first
--------------------------------------------------------------------------
*/
@import
	"src/utils/variables",
	"src/utils/mixins",
	"src/utils/functions",
	"src/utils/helpers";


/*
--------------------------------------------------------------------------
Base default styles - reset goes first
--------------------------------------------------------------------------
*/
@import
	"src/base/reset",
	"src/base/body",
	"src/base/typography",
	"src/base/buttons",
	"src/base/figcaption",
	"src/base/forms",
	"src/base/headings",
	"src/base/hr",
	"src/base/lists",
	"src/base/navs",
	"src/base/quotes",
	"src/base/tables";


/*
--------------------------------------------------------------------------
Layout responsive grid styles
--------------------------------------------------------------------------
*/
@import
	"src/layout/grid",
	"src/layout/grid-large",
	"src/layout/grid-medium",
	"src/layout/grid-mobile";


/*
--------------------------------------------------------------------------
Libraries - vendor styles
--------------------------------------------------------------------------
*/
@import
	//"src/libraries/animate/animate",
	//"src/libraries/fontawesome/scss/all",
	"src/libraries/fontawesome/scss/custom";


/*
--------------------------------------------------------------------------
jQuery Plugins - vendor styles
--------------------------------------------------------------------------
*/
@import
	"src/plugins/fancybox/fancybox",
	//"src/plugins/bg-video/bg-video",
	"src/plugins/slick/slick",
	"src/plugins/slick/slick-theme";


/*
--------------------------------------------------------------------------
Elements - Basically everything else
--------------------------------------------------------------------------
*/
@import
	/*Header styles and elements typically inside the main header*/
	"src/elements/header",
	"src/elements/header-elements/skip-link",
	"src/elements/header-elements/site-branding",
	"src/elements/header-elements/searchform",
	"src/elements/header-elements/blackout",
	"src/elements/header-elements/header-navigation/main-menu",
	"src/elements/header-elements/header-navigation/meta-menu",
	"src/elements/header-elements/header-navigation/mobile-menu-btn",
	"src/elements/header-elements/header-navigation/navigation-wrapper",
	/*Main*/
	"src/elements/main",
    /*Sections*/
    "src/elements/section-elements/intro-section",
    "src/elements/section-elements/cost-to-attend-section",
    "src/elements/section-elements/faq-section",
    "src/elements/section-elements/events-section",
    "src/elements/section-elements/housing-section",
    "src/elements/section-elements/recap-section",
    "src/elements/section-elements/schedule-section",
    "src/elements/section-elements/whos-coming-section",
	/*Footer*/
	"src/elements/footer",
	/*Misc*/
	"src/elements/accordions",
	"src/elements/bg-video",
	"src/elements/card",
	"src/elements/lead",
	"src/elements/page-banner",
	"src/elements/popups",
	"src/elements/overlays",
	"src/elements/tabs";

/*
 .d8888b.  888     888  .d8888b. 88888888888 .d88888b.  888b     d888
d88P  Y88b 888     888 d88P  Y88b    888    d88P" "Y88b 8888b   d8888
888    888 888     888 Y88b.         888    888     888 88888b.d88888
888        888     888  "Y888b.      888    888     888 888Y88888P888
888        888     888     "Y88b.    888    888     888 888 Y888P 888
888    888 888     888       "888    888    888     888 888  Y8P  888
Y88b  d88P Y88b. .d88P Y88b  d88P    888    Y88b. .d88P 888   "   888
 "Y8888P"   "Y88888P"   "Y8888P"     888     "Y88888P"  888       888
*/



/*
--------------------------------------------------------------------------
GLOBAL STYLES
--------------------------------------------------------------------------
*/

	/* TYPOGRAPHY
	-----------------------------------
	*/


	/* NAVIGATIONS/MENUS
	-----------------------------------
	*/


	/* BREADCRUMBS
	-----------------------------------
	*/


	/* FORMS
	-----------------------------------
	*/


	/* BACKGROUNDS
	-----------------------------------
	*/


	/* BUTTONS & LINKS
	-----------------------------------
	*/


	/* ICONS
	-----------------------------------
	*/


	/* IMAGES
	-----------------------------------
	*/


	/* TABLES
	-----------------------------------
	*/


	/* ACCORDIONS
	-----------------------------------
	*/


	/* POPUPS
	-----------------------------------
	*/


	/* TABS
    -----------------------------------
    */


	/* SLIDERS
	-----------------------------------
	*/


	/* MISC
	-----------------------------------
	*/


/*
--------------------------------------------------------------------------
END OF GLOBAL STYLES
--------------------------------------------------------------------------
*/

/*
--------------------------------------------------------------------------
PAGES OR SECTIONS
--------------------------------------------------------------------------
*/

	/* HEADER
	-----------------------------------
	*/


	/* MAIN
	-----------------------------------
	*/


	/* SIDEBAR
	-----------------------------------
	*/


	/* FOOTER
	-----------------------------------
	*/


/*
--------------------------------------------------------------------------
END OF PAGES OR SECTIONS
--------------------------------------------------------------------------
*/
